.createButton {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: #222; /* Gris oscuro elegante */
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  z-index: 1000;
}

.createButton:hover {
    color: #222;
  background-color: #f4f4f4;
  border: 1px solid #222;
  transform: scale(1.08);
}
