div h2{
    color:black
}

div button{
    margin: 5px;
}

img{
    padding: 10px;
}
.flex-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}