.navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0 !important;
  /* fuerza a quitar bordes redondeados */
  border: none;
  background-color: #ffffffcc;
  backdrop-filter: blur(8px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}

.navigation-panel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  width: 100%;
}
.navbar__logo-container {
  display: flex;
  height: 70px;
  width: 120px;
  position: absolute;
  left: 0.5rem;
  top: 0;
  padding-left: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.navbar__logo {
  height: 100%;
  width: auto;
}

.navbar__link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.session-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 100%;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: absolute;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.navbar__link:hover,
.session-button:hover {
  background-color: #f2f2f2;
}

.not-logged{
  justify-content:flex-end;
  padding: 0 2rem;
}