.navbar {
  border-radius: 0 !important; /* fuerza a quitar bordes redondeados */
  border: none;
  background-color: #ffffffcc;
  backdrop-filter: blur(8px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
}


.navbar__logo {
  height: 60px;
  object-fit: contain;
}

.navbar__link {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 0 6rem;
}

.navbar__link:hover {
  background-color: #f2f2f2;
}
