@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
.btn, button {
    text-align: center;
  all: unset;
  font-family: 'Inter', sans-serif;
  padding: 1rem;
  cursor: pointer;
}


/* Toast base */
.alert-toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  animation: fadeInOut 3s ease forwards;
}

/* Tipos */
.alert-toast.success { background-color: #4caf50; }
.alert-toast.error   { background-color: #f44336; }
.alert-toast.info    { background-color: #2196f3; }

/* Animación de entrada/salida */
@keyframes fadeInOut {
  0%   { opacity: 0; transform: translateY(10px); }
  10%  { opacity: 1; transform: translateY(0); }
  90%  { opacity: 1; }
  100% { opacity: 0; transform: translateY(10px); }
}

.qr{
  width: 400px;
  height:  400px;
  padding-top: 1rem;
}


/*LISTADOS*/

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.tarjetaProducto {
  background-color: #fffbe6;
  border: 2px solid #ffd500;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  padding: 2.5rem;
  text-align: center;
  max-width: 50rem;
  margin: 0.5rem auto;
}

.tarjetaProducto:hover {
  transform: scale(1.02);
}

.tarjetaProducto h1 {
  font-size: 1.4rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.tarjetaProducto h2 {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 0.25rem;
}

.tarjetaById{
  margin-top: 2rem;
  max-width: fit-content;
}

.accionesGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.button.btnPrimary{
  width: 150px;
  background-color: #000;
  color: white;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button.btnPrimary:hover {
  background-color: #333;
}

.button.danger {
  color: #c62828;
  font-size: 1.2rem;
  background-color: transparent;
}

.button.danger:hover {
  background-color: #a21818;
  color: #fff;
}


